#header-nav {
    background-color: rgb(168, 158, 158);
    border-radius: 0;
    border: 0;
}
.navbar-brand  h1{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
    line-height: .75;
    color: black;
}
.navbar-brand a:hover, .navbar-brand a:active, .navbar-brand a:focus {
    text-decoration: none;
    color: black;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid #161616;
}
#nav-list {
    background-color: rgb(199, 202, 39);
}
#nav-list a:hover {
    background: #E7E7E7;
}

/***main body***/
main h2, .main-body h3 {
    font-weight: bold;
}
.main-body {
    background-color: rgb(168, 158, 158);
}


